*{
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
    margin: 0;
}

.App{
    max-width: 500px;
    width: 100%;
    min-height: 400px;
    box-shadow: 0 2px 6px #555;
    margin: 50px auto;
    padding: 50px;
}

h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    color: #666;
}

